.policyPhoto{
    width: 500px;
    margin: 100px;
}

.flexPolicy{
    display: flex;
}
.headerPolicy{
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 300px;
}
.policy-container{
    margin-left: 200px;
    width: 600px;
}