
.footer-bottom {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 0.9rem;
  color: #063e76;
  margin-top: 20px;
  border-top: 1px solid #063e76;
  padding-top: 10px;
}
