
.footer-bottom {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 0.9rem;
  background-color: #063e76;
  margin-top: 20px;
  color: aliceblue;
  font-weight: 500;
  border-top: 1px solid #063e76;
  padding-top: 10px;
  margin-bottom: -100px;
}
.policyFooter {
  font-size: 14px;
  color: #ccd4e7; 
  /* margin-left: 240px; */
  margin-top: 7px;
}

.policyLinkFooter  {
  color: #ffffff; 
  text-decoration: none;
  margin-left: 5px;
  font-size: 15px;
}

.policyFooter a:hover {
    text-decoration: underline; 
  }
  