.containerregform {
    color: #fff;
    border-radius: 15px;
  }
  
  .card {
    background-color: #ffffff;
    border: none;
    border-radius: 15px;
  }
  
  .card h3 {
    font-family: "Arial", sans-serif;
    font-weight: bold;
    color: #4a4a4a;
  }
  
  .form-control {
    border-radius: 10px;
    font-size: 14px;
    padding: 10px 15px;
    border: 1px solid #ced4da;
    transition: box-shadow 0.3s ease, border 0.3s ease;
  }
  
  .form-control:focus {
    border-color: #443ef6;
    box-shadow: 0 0 0 0.2rem rgba(54, 168, 244, 0.25);
  }
  
  .form-label {
    font-size: 14px;
    color: #6c757d;
    margin-bottom: 5px;
  }
  
  .btnReg {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    background:  #2575fc;
    border: none;
    font-weight: bold;
    font-size: 17px;
    padding: 10px;
    border-radius: 8px;
    transition: background 0.3s ease;
  }
  
  .btnReg:hover {
    scale: 1.01;
    transition: 15ms;
  }
  
  #profilephototrv {
    border: 1px solid #ced4da;
    padding: 5px;
    font-size: 14px;
    border-radius: 10px;
  }
  
  label.mx-5 {
    font-size: 12px;
    font-style: italic;
    color: #6c757d;
  }
  
  @media (max-width: 576px) {
    .card {
      width: 90%;
    }
  
    .containerreg {
      padding: 10px;
    }
  }
  

  .optional{
    margin-left: 220px;
    font-size: 12px;
    font-style: italic;
    color: #6c757d;
  }
  #Address,#Description,#PhoneNumber,#Country,#profileName,#Location,#userName,#pass,#email {
    border: 1px solid #ced4da;
    padding: 5px;
    font-size: 14px;
    border-radius: 10px;
    background-color: #e8f3fd;
    color: #4a4a4a;
  }
  #Address,#Description,#PhoneNumber,#Country,#profileName,#Location,#userName,#pass,#email ::placeholder {
    font-style: italic;
    font-size: 14px;
  }
  