/* Basic sidebar styling */
.Side-Bar {
  height: 100vh;
  width: 25%;
  background: linear-gradient(180deg,#2969BF,#144E9D);
  color: #ecf0f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  position: fixed;
 
  transition: all 0.3s ease;
  overflow: hidden;
  /* border-top-right-radius: 20px;
  border-bottom-right-radius: 20px; */

}

.Side-Bar:hover {
    width: 30%;
}



/* Sidebar menu items */
.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  width: 100%;
}

.return-home-from-trav-prof {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px; 
  padding: 10px 15px;
  background-color: transparent;
  color: white;
  border: none; 
  border-radius: 5px; 
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  position: absolute;
}

.return-home-from-trav-prof:hover {
  background-color: #004a99; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.return-home-from-trav-prof i {
  font-size: 18px;
}

.sidebar-menu li {
  padding: 15px 20px;
  text-align: center;
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  transition: background-color 0.2s ease;
  font-size: 1.25rem;
}

.sidebar-menu li:hover {
  background-color: #2265bd;
}




